@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* whole page "*" */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkCyan: hsl(185, 75%, 39%);
  --desaturatedBlue: hsl(229, 23%, 23%);
  --grayishBlue: hsl(227, 10%, 46%);
}

/* html -> body*/

html,
body {
  font-size: 10px;
  font-weight: 400;
  color: var(--desaturatedBlue);
  font-family: "Kumbh Sans", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkCyan);
  position: relative;
  overflow: hidden;
}

.wholeCard {
  width: 100%;
  max-width: 35rem;
  background-color: white;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 40px 1px rgba(0, 0, 0, 0.2);
}

.cardBG {
  width: 100%;
  height: 14rem;
  background: url("./images/bg-pattern-card.svg") center / cover no-repeat;
}

.cardContent {
  width: 100%;
  height: 15rem;
  text-align: center;
  position: relative;
}

.profileImage {
  width: 11rem;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.cardInfo {
  width: 100%;
  height: 100%;
  margin-top: 6rem;
  padding: 2rem;
}

.cardAge {
  color: var(--grayishBlue);
  font-weight: 400;
}

.cardLoc {
  margin-top: 1rem;
  color: var(--grayishBlue);
  font-weight: 400;
  font-size: 1.4rem;
}

.cardBottom {
  width: 100%;
  height: 10rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.bottomBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottomBoxTop {
  font-size: 1.8rem;
  font-weight: bold;
}

.bottomBoxDown {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--grayishBlue);
}

/*Background*/

.bgTop,
.bgBottom {
  width: 50rem;
  height: 50rem;
  position: absolute;
}
.bgTop {
  background: url("./images/bg-pattern-top.svg") center / cover no-repeat;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.bgBottom {
  background: url("./images/bg-pattern-bottom.svg") center / cover no-repeat;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}

/*for other screens*/

@media screen and (min-width: 768px) {
  .bgTop,
  .bgBottom {
    width: 100rem;
    height: 100rem;
    position: absolute;
  }
  .bgTop {
    transform: translate(-50%, -50%);
  }
  .bgBottom {
    transform: translate(50%, 50%);
  }
}
@media screen and (min-width: 1280px) {
  .bgTop,
  .bgBottom {
    width: 110rem;
    height: 110rem;
    position: absolute;
  }
  .bgTop {
    transform: translate(-40%, -50%);
  }
  .bgBottom {
    transform: translate(30%, 65%);
  }

  .attribution{
    text-align: center;
    padding: 1em;
    background-color: skyblue;
    color: white;
  }
} ;
