@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* whole page "*" */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkCyan: hsl(185, 75%, 39%);
  --desaturatedBlue: hsl(229, 23%, 23%);
  --grayishBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 60%);

  --breakMobile: 1280px;
}

/* html -> body*/

html,
body{
  font-size: 10px;
  font-weight: 400;
  color: var(--desaturatedBlue);
  font-family: "Kumbh Sans", sans-serif;
}

